In [1]:
import os
import pandas as pd

In [2]:
df_headers = ['activity', 'dataset']
for i in range(1, 7):
    df_headers.append('min-' + str(i))
    df_headers.append('max-' + str(i))
    df_headers.append('mean-' + str(i))
    df_headers.append('median-' + str(i))
    df_headers.append('std-' + str(i))
    df_headers.append('1quart-' + str(i))
    df_headers.append('3quart-' + str(i))

print(df_headers)

['activity', 'dataset', 'min-1', 'max-1', 'mean-1', 'median-1', 'std-1', '1quart-1', '3quart-1', 'min-2', 'max-2', 'mean-2', 'median-2', 'std-2', '1quart-2', '3quart-2', 'min-3', 'max-3', 'mean-3', 'median-3', 'std-3', '1quart-3', '3quart-3', 'min-4', 'max-4', 'mean-4', 'median-4', 'std-4', '1quart-4', '3quart-4', 'min-5', 'max-5', 'mean-5', 'median-5', 'std-5', '1quart-5', '3quart-5', 'min-6', 'max-6', 'mean-6', 'median-6', 'std-6', '1quart-6', '3quart-6']

In [21]:
df = pd.DataFrame(columns=df_headers)

for root, dirs, files in os.walk('../data/ARem'):
    for filename in files:
        if 'csv' in filename:
            df_row = []
            activity = root.replace('../data/ARem/', '') # activity
            dataset = filename.replace('.csv', '') # dataset
            df_row.extend((activity, dataset))
            print(df_row, df_instance)
            
            seperator = ','
            if (activity == 'bending2') and (dataset == 'dataset4'): seperator = ' '
                
            path = os.path.join(root, filename)
            df_instance = pd.read_csv(path, skiprows=5, header=None, sep=seperator)
            for i in range(1, 7):
                # print(df_row, df_instance.min())
                df_row.append(df_instance.min()[i])
                df_row.append(df_instance.max()[i])
                df_row.append(df_instance.mean()[i])
                df_row.append(df_instance.median()[i])
                df_row.append(df_instance.std()[i])
                df_row.append(df_instance.quantile(0.25)[i])
                df_row.append(df_instance.quantile(0.75)[i])
            df.loc[len(df.index)] = df_row

['bending1', 'dataset7']           0      1     2      3     4      5     6
0         0  42.00  0.00  18.50  0.50  12.00  0.00
1       250  42.00  0.00  18.00  0.00  11.33  0.94
2       500  42.75  0.43  16.75  1.79  18.25  0.43
3       750  42.50  0.50  16.75  0.83  19.00  1.22
4      1000  43.00  0.82  16.25  0.83  18.00  0.00
..      ...    ...   ...    ...   ...    ...   ...
475  118750  44.25  0.83  16.25  1.30  24.00  0.00
476  119000  44.00  0.71  11.00  1.00  24.00  0.00
477  119250  44.25  0.43  10.25  1.30  22.75  0.83
478  119500  43.75  0.43   7.33  2.87  21.50  0.50
479  119750  44.50  0.50   3.00  1.22  21.50  0.50

[480 rows x 7 columns]
['bending1', 'dataset6']           0      1     2      3     4      5     6
0         0  41.25  1.30  24.00  0.00  32.33  0.94
1       250  41.00  1.00  22.50  1.12  33.50  0.87
2       500  44.25  0.83  21.75  0.83  31.50  1.50
3       750  45.00  0.00  20.00  1.22  30.00  0.00
4      1000  45.25  0.43  15.25  2.86  30.50  0.50
..      ...    ...   ...    ...   ...    ...   ...
475  118750  43.50  0.50  14.50  1.12  22.50  0.87
476  119000  44.00  0.00  18.00  0.71  22.25  1.09
477  119250  44.25  0.83  16.50  2.29  23.25  1.30
478  119500  42.50  0.87  13.50  1.50  16.25  3.11
479  119750  41.50  0.50  15.25  1.79  13.00  1.22

[480 rows x 7 columns]
['bending1', 'dataset4']           0      1     2      3     4      5     6
0         0  47.33  0.47  28.00  0.82  34.25  1.30
1       250  47.50  0.50  29.00  1.22  36.00  0.00
2       500  47.50  0.50  30.00  0.00  36.75  0.83
3       750  47.00  0.71  28.00  1.22  37.00  1.22
4      1000  45.00  0.71  24.25  1.79  36.00  0.00
..      ...    ...   ...    ...   ...    ...   ...
475  118750  39.00  0.00  11.50  4.72  23.75  0.43
476  119000  41.50  0.50  22.25  1.92  26.25  1.30
477  119250  42.00  0.00  23.50  0.87  29.75  0.43
478  119500  42.50  0.50  21.00  0.00  30.00  0.00
479  119750  43.25  0.43  23.75  0.43  28.25  0.43

[480 rows x 7 columns]
['bending1', 'dataset5']           0      1     2      3     4      5     6
0         0  44.33  0.47  23.75  0.43  30.00  0.00
1       250  44.50  0.50  24.00  0.00  30.25  0.43
2       500  44.00  0.71  24.00  0.00  30.50  0.50
3       750  43.00  0.71  21.75  1.30  31.50  1.12
4      1000  42.75  0.43  25.00  2.24  35.25  1.30
..      ...    ...   ...    ...   ...    ...   ...
475  118750  42.50  0.87  21.50  0.50  30.50  0.50
476  119000  42.50  0.50  21.00  0.00  30.00  0.00
477  119250  42.25  0.43  20.75  0.43  30.00  0.00
478  119500  40.50  1.12  23.50  0.87  29.50  0.50
479  119750  41.50  0.87  24.00  0.00  30.00  0.00

[480 rows x 7 columns]
['bending1', 'dataset1']           0      1     2      3     4      5    6
0         0  39.25  0.43  22.75  0.43  33.75  1.3
1       250  39.25  0.43  23.00  0.00  33.00  0.0
2       500  39.25  0.43  23.25  0.43  33.00  0.0
3       750  39.50  0.50  23.00  0.71  33.00  0.0
4      1000  39.50  0.50  24.00  0.00  33.00  0.0
..      ...    ...   ...    ...   ...    ...  ...
475  118750  43.33  0.47  25.00  0.00  30.00  0.0
476  119000  43.50  0.50  25.50  0.50  30.00  0.0
477  119250  43.50  0.50  24.75  0.43  30.00  0.0
478  119500  43.50  0.50  24.33  0.47  30.00  0.0
479  119750  43.50  0.50  24.25  0.43  30.00  0.0

[480 rows x 7 columns]
['bending1', 'dataset2']           0      1     2      3     4      5     6
0         0  43.67  0.47  24.75  0.43  30.00  0.00
1       250  43.33  0.47  25.33  0.47  30.00  0.00
2       500  42.75  0.83  25.25  0.83  30.50  0.50
3       750  41.75  0.43  20.50  3.35  30.75  0.83
4      1000  42.50  0.50  20.75  4.55  31.75  0.43
..      ...    ...   ...    ...   ...    ...   ...
475  118750  43.00  0.71   9.50  2.18  30.25  0.43
476  119000  43.25  0.83  12.25  0.43  32.50  0.50
477  119250  43.50  0.50  13.00  2.35  32.50  0.87
478  119500  43.75  0.43  15.75  1.92  31.50  0.50
479  119750  43.25  0.83  20.75  0.43  31.00  0.71

[480 rows x 7 columns]
['bending1', 'dataset3']           0      1     2      3     4      5     6
0         0  42.00  0.71  21.25  0.43  30.00  0.00
1       250  41.50  0.50  20.25  1.48  31.25  1.09
2       500  41.50  0.50  14.25  1.92  33.00  0.00
3       750  40.75  0.83  15.75  0.43  33.00  0.00
4      1000  40.00  0.71  20.00  2.74  32.75  0.43
..      ...    ...   ...    ...   ...    ...   ...
475  118750  42.50  0.50  20.00  0.82  36.00  0.00
476  119000  42.67  0.47  21.00  0.00  36.33  0.47
477  119250  44.33  0.94  21.00  0.00  36.33  0.47
478  119500  45.25  0.43  26.75  1.79  36.00  0.00
479  119750  47.25  0.83  29.75  0.43  35.25  1.30

[480 rows x 7 columns]
['walking', 'dataset7']           0      1     2      3     4      5     6
0         0  32.25  3.27  14.50  6.02  13.25  4.02
1       250  37.50  1.12  16.75  4.60  17.25  4.32
2       500  34.00  7.45  18.00  0.00  16.00  2.55
3       750  28.75  4.02  14.50  1.50  15.00  2.55
4      1000  37.50  5.41  15.25  4.44  14.67  1.25
..      ...    ...   ...    ...   ...    ...   ...
475  118750  29.25  4.15  15.00  2.24  23.75  1.79
476  119000  42.67  2.87  16.00  2.92  19.33  2.62
477  119250  36.75  4.97  16.00  2.24  17.75  3.19
478  119500  43.67  2.36  19.00  2.83  14.75  2.49
479  119750  38.00  5.66  23.33  0.94  14.25  3.70

[480 rows x 7 columns]
['walking', 'dataset6']           0      1     2      3     4      5     6
0         0  39.00  6.48  12.67  0.94  17.67  1.25
1       250  31.75  2.49  16.25  5.31  17.00  2.24
2       500  34.00  2.83  16.33  3.40  16.33  1.25
3       750  38.50  6.06  18.00  2.12  14.25  3.56
4      1000  28.00  4.06  17.50  1.80  19.50  2.06
..      ...    ...   ...    ...   ...    ...   ...
475  118750  44.00  1.41  19.67  2.05  14.25  1.79
476  119000  37.33  1.25  14.00  3.74  17.25  3.90
477  119250  27.75  7.29  13.67  6.18  20.75  0.43
478  119500  31.00  2.16  17.33  1.70  15.25  4.02
479  119750  33.00  6.40  18.50  2.87  12.67  2.49

[480 rows x 7 columns]
['walking', 'dataset4']           0      1     2      3     4      5     6
0         0  38.50  3.77  15.50  1.80  20.50  1.66
1       250  33.67  3.86  13.33  3.40  16.00  5.00
2       500  40.33  6.55   9.67  3.30  18.00  4.24
3       750  34.50  5.59  15.33  4.50  22.75  1.64
4      1000  31.75  4.21  17.25  1.92  20.25  4.26
..      ...    ...   ...    ...   ...    ...   ...
475  118750  34.75  7.66  14.50  2.18  12.00  5.79
476  119000  24.75  8.26  13.50  5.02  17.25  4.32
477  119250  26.25  2.49  18.75  3.56  12.50  7.09
478  119500  38.50  3.28  18.25  2.38  18.50  2.06
479  119750  35.50  1.50  14.00  2.12  20.75  3.27

[480 rows x 7 columns]
['walking', 'dataset5']           0      1     2      3     4      5     6
0         0  35.75  2.77  14.67  2.05  14.00  0.00
1       250  40.00  4.06  12.00  3.94  13.00  7.38
2       500  33.00  4.24  14.00  1.00  15.67  2.62
3       750  30.25  0.43  15.25  2.77  20.25  7.40
4      1000  40.00  0.82  13.25  5.80  21.00  2.94
..      ...    ...   ...    ...   ...    ...   ...
475  118750  26.75  2.17  15.25  5.07  10.00  5.10
476  119000  30.75  2.49   9.25  2.05  17.00  1.41
477  119250  35.50  4.33  18.00  0.00  21.33  2.05
478  119500  27.25  2.17  17.50  3.84  15.75  1.48
479  119750  32.67  4.50  16.25  3.49  12.33  7.85

[480 rows x 7 columns]
['walking', 'dataset1']           0      1      2      3     4      5     6
0         0  35.00   3.67  16.50  3.77  14.00  1.63
1       250  28.50   3.35  17.50  3.77  12.25  3.90
2       500  35.50   2.87  15.75  2.86  17.75  5.07
3       750  29.75  12.19  16.25  2.17  20.75  2.59
4      1000  27.00   2.12  16.75  0.83  24.75  1.64
..      ...    ...    ...    ...   ...    ...   ...
475  118750  35.50   4.27  15.67  4.78  17.00  1.41
476  119000  30.75   2.49  18.50  4.15  18.00  1.41
477  119250  36.00   2.94  16.25  1.30  16.67  3.09
478  119500  37.40   6.15  10.25  5.31  14.60  4.32
479  119750  34.67   1.25  18.00  1.87   9.33  6.02

[480 rows x 7 columns]
['walking', 'dataset2']           0      1     2      3     4      5     6
0         0  24.50  4.77  16.50  4.50  13.75  2.38
1       250  40.00  5.24  19.25  2.86  12.25  4.32
2       500  40.00  2.83  17.00  1.41  16.75  4.71
3       750  37.75  0.83  16.00  5.15  16.25  7.12
4      1000  36.50  5.36  18.25  2.17  11.50  4.27
..      ...    ...   ...    ...   ...    ...   ...
475  118750  27.75  5.76  13.25  1.30  16.25  2.49
476  119000  38.25  5.12  14.75  2.17  15.00  6.36
477  119250  34.00  2.83  17.00  5.39   9.00  4.97
478  119500  29.00  5.72  12.00  6.60  12.67  5.44
479  119750  38.67  5.79  13.00  1.41  15.75  3.34

[480 rows x 7 columns]
['walking', 'dataset3']           0      1      2      3     4      5     6
0         0  24.75   5.76  13.25  3.03  18.75  1.48
1       250  36.25   7.26  15.00  3.67  17.75  2.86
2       500  37.00   3.94  20.25  1.30  16.25  1.64
3       750  33.75   3.27  19.50  4.50  15.00  2.12
4      1000  34.25   5.21  17.00  1.22  14.25  4.15
..      ...    ...    ...    ...   ...    ...   ...
475  118750  36.00   2.45  17.00  5.10  20.50  0.87
476  119000  34.33   1.89  15.00  2.45  17.00  2.12
477  119250  33.00   7.35  14.60  3.14  13.00  5.70
478  119500  31.67   1.25  11.00  6.16  19.25  2.17
479  119750  30.75  10.21  11.75  1.09  18.50  3.20

[480 rows x 7 columns]
['walking', 'dataset10']           0      1     2      3     4      5     6
0         0  35.75  7.05  16.00  3.16  14.75  3.90
1       250  39.00  3.00  21.00  1.00  17.00  5.79
2       500  31.00  6.20  15.75  0.83  22.00  1.00
3       750  42.75  3.34  17.25  2.17  19.25  3.03
4      1000  41.00  0.71  13.00  3.39  13.50  7.02
..      ...    ...   ...    ...   ...    ...   ...
475  118750  37.25  4.92  18.75  2.86  18.50  2.60
476  119000  30.00  4.95   8.75  5.63  17.00  3.39
477  119250  38.50  3.35  16.33  3.30  13.00  5.72
478  119500  37.50  1.50  18.67  2.49  16.33  1.25
479  119750  38.33  1.70  14.50  2.69  11.67  4.50

[480 rows x 7 columns]
['walking', 'dataset11']           0      1     2      3     4      5     6
0         0  42.33  3.40  16.25  3.11  18.00  2.45
1       250  30.25  6.94  22.25  3.03  16.75  5.49
2       500  30.00  5.72  20.50  3.04  22.33  1.25
3       750  35.67  5.31  16.67  1.25  21.00  2.55
4      1000  39.00  1.22  17.75  2.77  21.50  0.87
..      ...    ...   ...    ...   ...    ...   ...
475  118750  36.50  2.87  18.50  2.29  16.00  2.16
476  119000  35.00  9.70  18.67  0.94  18.33  2.05
477  119250  28.25  4.82  16.00  3.27  22.00  5.66
478  119500  32.25  8.26  12.50  4.15  15.25  2.77
479  119750  40.50  4.97  13.75  4.60  12.00  6.00

[480 rows x 7 columns]
['walking', 'dataset13']           0      1     2      3     4      5      6
0         0  33.50  2.87  16.25  3.42  14.00   5.00
1       250  27.75  1.30  16.00  2.92  13.75   3.49
2       500  32.25  5.76  14.25  4.32  20.50   2.87
3       750  34.50  1.50  15.00  0.00  13.00  10.00
4      1000  34.25  3.49  12.67  5.25  15.25   3.27
..      ...    ...   ...    ...   ...    ...    ...
475  118750  26.00  1.63  15.67  2.62  18.00   5.05
476  119000  37.33  6.13   8.67  5.79  10.75   3.03
477  119250  37.75  5.45  19.50  1.12  12.33   1.25
478  119500  37.00  1.73  13.75  3.42  17.25   6.53
479  119750  42.50  2.29  13.25  2.17  18.25   4.02

[480 rows x 7 columns]
['walking', 'dataset12']           0      1      2      3     4      5     6
0         0  29.75   0.43  18.75  4.44  20.00  2.12
1       250  41.25   4.44  17.33  4.50  14.67  3.68
2       500  34.50   8.87   9.25  2.95  18.00  6.04
3       750  31.33   6.60  13.75  2.77  22.00  1.41
4      1000  29.67   8.50  17.67  6.94  17.25  5.67
..      ...    ...    ...    ...   ...    ...   ...
475  118750  26.00  10.17  13.75  2.49  18.75  3.27
476  119000  26.00   8.12  11.75  2.77  14.00  5.52
477  119250  39.00   2.12  17.25  4.26  16.00  3.67
478  119500  36.25   2.17  16.00  5.10  14.25  3.27
479  119750  36.25   6.83  12.67  0.47  12.75  6.18

[480 rows x 7 columns]
['walking', 'dataset15']           0      1     2      3     4      5     6
0         0  37.75  8.93  16.25  5.07  17.00  4.36
1       250  35.25  2.49  11.33  4.92  13.67  2.36
2       500  38.33  3.86  19.25  1.48  18.67  2.05
3       750  40.50  3.57  17.50  1.80  16.00  6.20
4      1000  30.00  0.00  19.67  1.89  16.75  3.42
..      ...    ...   ...    ...   ...    ...   ...
475  118750  34.50  6.18   9.00  3.56  12.67  4.19
476  119000  25.75  6.02  13.75  2.05  16.00  1.58
477  119250  31.50  3.35  10.25  5.12  16.25  2.95
478  119500  33.75  2.77  14.00  3.24  13.75  0.43
479  119750  37.00  1.41  18.25  3.70  11.00  4.32

[480 rows x 7 columns]
['walking', 'dataset14']           0      1     2      3     4      5     6
0         0  31.50  3.77  14.50  2.29  17.00  4.58
1       250  27.00  2.12  16.75  2.86  20.00  2.12
2       500  34.00  4.53  16.67  1.70  16.33  3.09
3       750  32.00  4.58  21.25  2.77  17.00  1.22
4      1000  35.33  2.49  18.50  3.50  16.00  2.83
..      ...    ...   ...    ...   ...    ...   ...
475  118750  39.33  0.47  10.00  2.16   7.00  4.85
476  119000  39.25  2.49  12.50  1.66  10.75  4.49
477  119250  40.00  8.22  15.75  2.05  14.00  4.42
478  119500  29.50  6.50  18.00  1.87  17.00  3.67
479  119750  28.00  5.10  16.50  1.50  16.50  3.35

[480 rows x 7 columns]
['walking', 'dataset8']           0      1      2      3     4      5     6
0         0  24.25  12.38  16.25  5.40  19.50  4.50
1       250  40.25   2.49  12.75  4.32  23.25  1.30
2       500  37.50   3.35  17.25  2.28  21.25  3.90
3       750  34.25   2.77  18.33  0.47  13.33  6.55
4      1000  40.50   3.20  13.00  1.73  20.25  0.83
..      ...    ...    ...    ...   ...    ...   ...
475  118750  41.00   3.41  18.00  1.67  14.50  0.50
476  119000  27.00   3.08  20.00  0.71  20.50  1.66
477  119250  29.00   1.41  10.00  3.56  18.25  3.90
478  119500  36.00   6.28  17.75  2.17  16.00  2.55
479  119750  38.25   3.90  18.00  3.67  19.50  2.29

[480 rows x 7 columns]

['walking', 'dataset9']           0      1     2      3     4      5     6
0         0  32.25  5.76  14.00  4.36  18.00  2.12
1       250  37.75  5.07  15.50  3.20  14.75  1.79
2       500  34.50  2.60  20.00  4.74  20.50  2.87
3       750  23.75  5.36  11.75  6.22  14.25  3.77
4      1000  41.25  3.77  15.00  6.63  11.50  2.69
..      ...    ...   ...    ...   ...    ...   ...
475  118750  31.50  1.66  12.50  3.20  14.25  4.44
476  119000  27.33  1.25  11.33  0.94  20.00  4.00
477  119250  37.80  7.68  14.20  2.48  17.25  0.83
478  119500  33.75  1.30  15.75  5.21  16.50  2.69
479  119750  32.67  3.09  18.67  0.47  14.00  3.16

[480 rows x 7 columns]
['bending2', 'dataset6']           0      1     2      3     4      5     6
0         0  34.50  1.50   8.00  1.58  28.00  0.71
1       250  36.00  0.00  11.25  3.49  28.50  0.50
2       500  36.00  0.00  20.00  1.22  27.00  0.71
3       750  38.25  0.43  21.25  0.43  26.00  0.71
4      1000  37.50  1.12  22.00  0.82  23.67  2.49
..      ...    ...   ...    ...   ...    ...   ...
475  118750  27.00  0.00  14.00  0.00   6.50  0.50
476  119000  27.00  0.00  15.00  0.00   4.00  1.00
477  119250  27.00  0.00  14.25  0.83   4.00  2.00
478  119500  27.00  0.00  13.33  1.25   1.50  0.50
479  119750  26.50  0.50  15.00  0.00   3.00  0.00

[480 rows x 7 columns]
['bending2', 'dataset4']           0      1     2     3     4      5     6   7
0         0  32.50  0.50  0.00  0.00  19.00  1.00 NaN
1       250  32.50  0.50  0.00  0.00  18.50  0.50 NaN
2       500  32.75  0.43  1.00  0.00  18.00  0.00 NaN
3       750  32.50  0.50  0.00  0.00  17.50  0.50 NaN
4      1000  32.50  0.50  7.50  0.50  17.50  0.87 NaN
..      ...    ...   ...   ...   ...    ...   ...  ..
475  118750  28.67  0.47  4.67  1.25  17.33  0.47 NaN
476  119000  27.50  0.50  5.50  2.50  17.25  1.30 NaN
477  119250  28.00  0.00  6.67  0.94  17.00  1.00 NaN
478  119500  28.00  0.00  5.00  0.82  17.00  0.71 NaN
479  119750  28.00  0.00  0.00  0.00  17.00  1.00 NaN

[480 rows x 8 columns]
['bending2', 'dataset5']           0      1     2      3     4      5     6
0         0  28.00  0.00   0.00  0.00  17.25  0.83
1       250  29.00  0.00   0.00  0.00  17.33  0.94
2       500  28.67  0.47   0.00  0.00  17.00  0.82
3       750  29.00  0.00   3.00  2.00  17.67  0.47
4      1000  29.00  0.00   3.33  0.47  18.00  1.00
..      ...    ...   ...    ...   ...    ...   ...
475  118750  36.00  0.00  18.00  0.00  27.75  0.43
476  119000  36.25  0.43  14.50  2.87  27.00  0.71
477  119250  36.00  0.00   8.67  2.49  27.00  0.00
478  119500  36.80  0.98  13.00  0.63  27.75  0.43
479  119750  35.00  1.41   7.00  2.00  27.50  0.50

[480 rows x 7 columns]
['bending2', 'dataset1']           0      1     2      3     4      5     6
0         0  23.75  0.43  24.00  0.00  24.67  0.47
1       250  22.67  0.94  24.00  0.00  24.67  0.94
2       500  21.33  0.47  24.00  0.00  24.75  0.83
3       750  21.00  0.00  24.00  0.00  25.25  1.09
4      1000  23.00  0.71  23.75  0.43  24.75  0.83
..      ...    ...   ...    ...   ...    ...   ...
475  118750  27.50  0.50  22.75  1.30  21.00  0.00
476  119000  27.00  0.00  21.00  0.00  20.75  1.09
477  119250  27.00  0.00  21.00  0.00  20.50  0.50
478  119500  27.25  0.43  23.50  0.87  20.75  0.43
479  119750  27.00  0.00  24.00  0.00  19.25  0.83

[480 rows x 7 columns]
['bending2', 'dataset2']           0      1     2      3     4      5     6
0         0  27.00  0.00  24.00  0.00  19.00  1.00
1       250  27.00  0.00  24.00  0.00  19.75  0.83
2       500  27.00  0.00  23.50  0.50  20.00  1.22
3       750  27.00  0.00  24.00  0.00  14.75  1.48
4      1000  27.00  0.00  23.75  0.43  14.50  1.50
..      ...    ...   ...    ...   ...    ...   ...
475  118750  23.00  0.71  11.25  2.49  26.75  1.92
476  119000  22.25  0.43  15.50  0.87  29.50  1.50
477  119250  23.75  0.43  17.67  0.47  25.67  3.09
478  119500  24.25  0.43  13.33  1.25  30.00  2.45
479  119750  25.33  0.47  14.75  1.09  25.33  3.68

[480 rows x 7 columns]
['bending2', 'dataset3']           0      1     2      3     4      5      6
0         0  24.50  0.50  15.50  0.87  26.00   2.74
1       250  25.00  0.00  13.50  3.64  33.50   2.60
2       500  26.00  0.71  14.25  3.90  18.50  13.61
3       750  24.33  0.47  15.67  2.62  25.50   3.64
4      1000  23.50  0.87  16.25  1.30  23.00   1.22
..      ...    ...   ...    ...   ...    ...    ...
475  118750  33.00  0.00   1.25  0.43  19.00   1.00
476  119000  33.00  0.00   3.75  0.83  19.00   1.00
477  119250  33.00  0.00   5.25  1.30  18.50   0.50
478  119500  32.75  0.43   2.50  0.50  19.25   0.83
479  119750  32.67  0.47   2.00  1.00  19.00   1.00

[480 rows x 7 columns]
['standing', 'dataset7']           0      1     2      3     4      5     6
0         0  45.00  0.00  19.00  0.82  10.00  1.22
1       250  45.33  0.47  15.67  0.94   9.75  1.48
2       500  45.25  0.43  16.00  0.71  11.50  0.50
3       750  45.25  0.43  17.75  1.09  10.00  1.00
4      1000  45.50  0.50  20.00  0.71  11.75  0.43
..      ...    ...   ...    ...   ...    ...   ...
475  118750  48.00  0.00   9.00  0.71  12.00  0.00
476  119000  48.00  0.00   9.75  0.83  12.00  0.00
477  119250  48.00  0.00   7.00  2.12  10.60  1.36
478  119500  48.00  0.00   0.00  0.00   7.50  1.50
479  119750  48.00  0.00   0.00  0.00   8.33  2.87

[480 rows x 7 columns]
['standing', 'dataset6']           0      1     2      3     4      5     6
0         0  44.50  0.87  11.25  5.54  12.50  2.96
1       250  42.50  0.87  18.00  0.71  14.25  3.83
2       500  39.00  2.12  16.00  1.58  13.75  2.38
3       750  36.25  0.43  18.67  0.47   9.50  0.50
4      1000  39.25  1.48  16.25  2.68   5.67  2.87
..      ...    ...   ...    ...   ...    ...   ...
475  118750  45.00  0.00  21.00  0.00  13.00  0.82
476  119000  45.00  0.00  21.00  0.00  12.25  0.43
477  119250  45.00  0.00  21.00  0.00  12.50  0.87
478  119500  45.00  0.00  21.00  0.00  12.00  0.00
479  119750  45.00  0.00  20.80  0.40  12.75  0.83

[480 rows x 7 columns]
['standing', 'dataset4']           0      1     2      3     4      5     6
0         0  41.50  0.50  20.67  0.47  14.33  0.47
1       250  41.50  0.50  20.00  0.00  15.25  0.43
2       500  41.50  0.50  20.25  0.43  15.75  0.43
3       750  41.67  0.47  20.75  0.43  17.50  0.50
4      1000  41.50  0.50  21.00  0.00  16.50  1.12
..      ...    ...   ...    ...   ...    ...   ...
475  118750  44.50  0.50  21.00  0.00  14.75  1.09
476  119000  44.75  0.43  19.50  0.50  14.50  0.50
477  119250  44.75  0.43  18.50  0.50  12.75  0.83
478  119500  44.75  0.43  19.25  0.43  10.25  0.83
479  119750  45.00  0.00  18.75  0.43   9.00  0.00

[480 rows x 7 columns]
['standing', 'dataset5']           0      1     2      3     4      5     6
0         0  45.00  0.00  18.25  0.43   9.50  0.50
1       250  45.00  0.00  20.00  0.00   9.00  0.00
2       500  44.75  0.43  18.75  0.43   9.75  0.83
3       750  44.33  0.47  18.25  0.43  11.00  1.00
4      1000  43.33  0.47  18.33  0.47  10.00  0.71
..      ...    ...   ...    ...   ...    ...   ...
475  118750  47.25  0.43  11.75  3.96  18.25  3.70
476  119000  45.50  1.12  12.00  1.22  15.25  4.26
477  119250  40.75  1.92  14.00  1.41  19.67  1.25
478  119500  43.50  1.12  14.00  1.22   6.75  3.77
479  119750  45.50  0.50  10.50  1.12  13.75  4.76

[480 rows x 7 columns]
['standing', 'dataset1']           0      1     2      3     4      5     6
0         0  46.50  0.50  11.50  0.50  20.33  0.94
1       250  46.50  0.50  12.00  0.00  20.25  0.43
2       500  46.50  0.50  12.00  0.00  20.50  0.50
3       750  46.50  0.50  12.75  0.43  19.50  0.50
4      1000  46.50  0.50  13.25  0.43  18.75  0.43
..      ...    ...   ...    ...   ...    ...   ...
475  118750  43.50  0.50  15.00  0.00  16.00  0.71
476  119000  43.75  0.43  14.75  0.43  17.25  0.83
477  119250  43.75  0.83  14.00  0.82  17.33  0.47
478  119500  43.75  0.43  14.25  0.43  17.25  0.83
479  119750  44.00  0.82  15.00  0.00  17.67  0.47

[480 rows x 7 columns]
['standing', 'dataset2']           0      1     2      3     4      5     6
0         0  44.33  0.47  15.00  0.00  17.00  0.71
1       250  44.25  0.83  14.75  0.43  15.50  0.50
2       500  44.40  0.80  15.00  0.00  15.25  0.43
3       750  43.67  0.47  15.00  0.00  16.00  0.71
4      1000  43.75  0.83  15.00  0.00  15.50  0.50
..      ...    ...   ...    ...   ...    ...   ...
475  118750  44.75  0.43   7.50  0.50  14.75  1.09
476  119000  44.33  0.47   7.00  0.00  15.00  1.41
477  119250  44.75  0.43   6.50  0.50  15.00  0.71
478  119500  44.50  0.50   6.25  1.92  16.00  1.00
479  119750  44.50  0.50  10.75  1.64  15.25  0.43

[480 rows x 7 columns]
['standing', 'dataset3']           0      1     2      3     4      5     6
0         0  44.50  0.50   5.33  4.19  15.00  1.22
1       250  44.50  0.50   3.33  1.70  15.00  1.00
2       500  44.50  0.50   3.00  1.00  16.00  0.00
3       750  44.50  0.50   4.33  0.94  14.67  0.47
4      1000  44.67  0.47   5.75  0.83  15.33  0.47
..      ...    ...   ...    ...   ...    ...   ...
475  118750  41.25  0.83  19.75  0.43  17.00  0.71
476  119000  41.50  0.50  20.75  0.43  17.25  0.83
477  119250  41.50  0.50  20.75  0.43  15.75  0.83
478  119500  41.50  0.50  20.50  0.50  15.75  0.83
479  119750  41.50  0.50  20.25  0.43  15.25  0.83

[480 rows x 7 columns]
['standing', 'dataset10']           0      1     2      3     4      5     6
0         0  44.50  0.50  15.00  0.71   9.25  0.43
1       250  44.75  0.43  13.00  0.71  11.25  0.83
2       500  41.33  0.94  15.33  0.47  11.00  1.22
3       750  39.50  0.87  16.75  1.09  10.00  1.58
4      1000  39.25  0.43  15.75  2.49  15.25  2.17
..      ...    ...   ...    ...   ...    ...   ...
475  118750  45.00  0.00  17.75  0.43  13.00  1.00
476  119000  45.00  0.00  16.75  0.43  13.50  0.87
477  119250  45.00  0.00  16.00  0.00  12.75  0.43
478  119500  45.00  0.00  16.25  0.43  12.00  0.00
479  119750  45.00  0.00  17.00  0.00  12.00  0.00

[480 rows x 7 columns]
['standing', 'dataset11']           0      1     2      3     4      5     6
0         0  45.00  0.00  17.25  0.43  13.50  0.87
1       250  45.00  0.00  17.75  0.43  13.75  0.83
2       500  45.00  0.00  17.25  0.43  13.75  0.83
3       750  45.00  0.00  16.50  1.12  14.67  0.47
4      1000  45.00  0.00  15.50  0.50  14.25  1.48
..      ...    ...   ...    ...   ...    ...   ...
475  118750  38.75  0.43  17.25  0.43  17.75  0.43
476  119000  39.25  0.43  15.25  2.17  18.50  0.87
477  119250  41.75  0.43   7.33  3.40  16.25  1.30
478  119500  43.00  0.71  10.00  2.12  16.25  0.83
479  119750  44.00  0.00  14.00  0.00  15.00  0.71

[480 rows x 7 columns]
['standing', 'dataset13']           0      1     2      3     4      5     6
0         0  45.00  0.00  12.50  0.87  14.50  0.50
1       250  45.00  0.00  13.00  0.00  14.00  1.00
2       500  45.00  0.00  12.00  0.00  13.50  0.87
3       750  45.00  0.00  13.33  0.47  12.50  0.50
4      1000  45.00  0.00  12.25  0.43  12.75  0.83
..      ...    ...   ...    ...   ...    ...   ...
475  118750  40.50  0.50  12.75  1.30  17.00  0.71
476  119000  39.67  0.47  11.00  1.00  17.75  0.83
477  119250  40.25  0.83   8.25  0.83  18.00  0.00
478  119500  40.00  0.71   7.67  0.47  18.00  0.00
479  119750  39.75  0.83   8.00  0.71  18.00  0.00

[480 rows x 7 columns]
['standing', 'dataset12']           0      1     2      3     4      5     6
0         0  43.75  0.83  14.75  0.43  14.25  0.83
1       250  45.00  0.00  17.67  0.47  12.50  0.87
2       500  45.25  0.43  17.25  0.83  11.75  0.43
3       750  45.00  0.00  16.00  1.00  12.33  0.47
4      1000  44.67  0.47  12.00  0.00  12.67  0.47
..      ...    ...   ...    ...   ...    ...   ...
475  118750  44.67  0.47  12.25  0.43  15.00  0.00
476  119000  44.33  0.47  13.00  0.00  14.75  0.43
477  119250  45.00  0.00  12.00  0.00  15.00  0.71
478  119500  45.00  0.00  11.50  0.50  15.00  0.00
479  119750  45.00  0.00  12.00  0.00  15.00  0.00

[480 rows x 7 columns]
['standing', 'dataset15']           0      1     2      3     4      5     6
0         0  41.50  0.87  19.75  1.30  10.25  2.86
1       250  40.33  0.47  14.00  1.63  12.25  0.43
2       500  40.25  0.83   7.00  0.00  10.50  0.50
3       750  40.50  0.50   9.00  0.00  12.67  0.94
4      1000  40.50  0.50  14.50  2.29  14.25  0.83
..      ...    ...   ...    ...   ...    ...   ...
475  118750  45.25  0.43  12.25  0.43  13.75  0.83
476  119000  45.00  0.00  12.60  0.80  14.25  0.83
477  119250  45.00  0.00  12.00  0.00  14.50  0.50
478  119500  45.50  0.50  12.25  0.43  14.50  0.50
479  119750  45.00  0.00  12.50  0.87  14.00  0.71

[480 rows x 7 columns]
['standing', 'dataset14']           0      1     2      3     4      5     6
0         0  39.50  0.50   9.00  0.00  18.00  0.00
1       250  39.25  0.43  11.00  1.00  17.50  0.50
2       500  39.25  0.43  12.00  0.00  16.50  0.50
3       750  39.00  0.00  11.00  0.71  16.75  0.83
4      1000  39.00  0.00  11.75  0.43  18.00  0.00
..      ...    ...   ...    ...   ...    ...   ...
475  118750  45.00  0.00  15.50  0.87  13.00  1.00
476  119000  45.00  0.00  15.75  0.43  13.75  1.09
477  119250  44.50  0.87  17.25  0.83  15.75  1.48
478  119500  42.75  0.83  17.75  0.43  19.00  1.00
479  119750  42.00  0.00  20.67  0.47  17.00  0.82

[480 rows x 7 columns]
['standing', 'dataset8']           0      1     2      3     4      5     6
0         0  48.00  0.00   6.75  3.77  11.00  1.22
1       250  47.75  0.43  11.50  0.50  10.00  1.00
2       500  48.00  0.00  11.25  0.43   8.67  0.47
3       750  48.00  0.00  11.67  0.47  11.00  1.41
4      1000  48.00  0.00  10.25  1.79  12.00  0.00
..      ...    ...   ...    ...   ...    ...   ...
475  118750  46.00  0.82  18.00  0.00  13.25  1.09
476  119000  46.50  0.50  18.50  0.50  14.00  0.71
477  119250  46.50  0.50  18.75  0.83  14.00  1.00
478  119500  46.50  0.50  19.00  0.71  14.50  0.50
479  119750  46.25  0.43  18.50  0.50  15.00  0.71

[480 rows x 7 columns]
['standing', 'dataset9']           0      1     2      3     4      5     6
0         0  46.25  0.43  18.25  0.43  14.75  0.43
1       250  46.00  0.71  18.50  0.87  14.25  0.83
2       500  46.25  0.83  18.50  0.87  13.75  0.83
3       750  46.25  0.83  18.67  0.47  14.00  0.82
4      1000  46.00  1.00  18.50  0.50  13.25  0.83
..      ...    ...   ...    ...   ...    ...   ...
475  118750  44.50  0.50  18.75  0.83   5.25  1.79
476  119000  44.50  0.50  19.33  0.47   6.00  0.82
477  119250  44.50  0.50  19.25  0.83   7.25  1.30
478  119500  44.50  0.50  19.00  0.71   8.00  0.71
479  119750  44.67  0.47  18.00  0.00   9.00  0.00

[480 rows x 7 columns]
['sitting', 'dataset7']           0      1     2      3     4      5     6
0         0  33.00  0.00  11.75  0.43  14.67  0.47
1       250  33.75  1.30  13.75  1.09  14.50  1.12
2       500  36.00  0.00  12.25  0.43  16.50  0.87
3       750  36.00  0.00  12.00  0.00  15.50  0.50
4      1000  36.00  0.00  11.75  0.43  15.75  0.83
..      ...    ...   ...    ...   ...    ...   ...
475  118750  44.00  0.00  18.75  0.43   0.00  0.00
476  119000  44.25  0.43  18.75  0.43   3.00  0.00
477  119250  43.33  0.47  19.00  0.00   4.25  1.48
478  119500  44.00  0.00  18.75  0.43   4.50  0.87
479  119750  44.50  0.50  18.75  0.43   6.50  0.87

[480 rows x 7 columns]

['sitting', 'dataset6']           0      1     2      3     4      5     6
0         0  30.25  0.43  20.75  0.43  20.50  0.50
1       250  30.00  0.00  21.00  0.00  21.00  0.00
2       500  30.00  0.00  21.00  0.00  21.00  0.00
3       750  30.00  0.00  21.00  0.00  21.00  0.00
4      1000  30.00  0.00  21.25  0.43  21.00  0.00
..      ...    ...   ...    ...   ...    ...   ...
475  118750  32.00  0.71   4.67  0.47  14.67  0.47
476  119000  31.25  0.43   3.50  0.50  13.25  1.30
477  119250  32.33  0.47   7.75  0.83  14.33  0.94
478  119500  33.00  0.00  11.50  0.50  14.00  0.82
479  119750  32.80  0.40  11.50  0.87  14.00  0.89

[480 rows x 7 columns]
['sitting', 'dataset4']           0     1    2      3     4      5     6
0         0  45.0  0.0   4.33  0.94  20.75  0.43
1       250  45.0  0.0   7.67  0.47  21.00  0.00
2       500  45.0  0.0   4.00  2.00  21.00  0.00
3       750  45.0  0.0   5.67  2.05  19.25  1.30
4      1000  45.0  0.0  11.50  0.50  18.25  0.43
..      ...   ...  ...    ...   ...    ...   ...
475  118750  45.0  0.0   9.00  2.12  12.50  0.87
476  119000  45.0  0.0   7.67  1.70  13.75  0.83
477  119250  45.0  0.0   5.40  1.02  12.25  0.43
478  119500  45.0  0.0   7.50  2.29  13.25  1.30
479  119750  45.0  0.0   3.67  1.25  12.00  1.00

[480 rows x 7 columns]
['sitting', 'dataset5']           0      1     2      3     4      5     6
0         0  45.00  0.00   4.33  0.94  10.75  2.17
1       250  45.00  0.00   1.00  0.00  12.33  1.25
2       500  45.00  0.00   2.50  0.50  14.50  1.12
3       750  45.00  0.00   3.00  0.00  14.50  1.12
4      1000  45.00  0.00   3.00  0.82  15.25  0.43
..      ...    ...   ...    ...   ...    ...   ...
475  118750  30.33  0.47  21.00  0.00  19.33  1.25
476  119000  30.00  0.00  21.25  0.43  20.25  0.43
477  119250  30.00  0.00  21.00  0.00  20.25  0.83
478  119500  30.00  0.00  21.00  0.00  20.50  0.87
479  119750  30.00  0.00  20.25  0.43  20.25  0.43

[480 rows x 7 columns]
['sitting', 'dataset1']           0      1     2      3     4      5     6
0         0  42.00  0.00  19.20  0.98  15.50  2.06
1       250  42.00  0.00  19.33  0.94  11.00  0.82
2       500  42.00  0.00  17.50  0.50  12.50  0.50
3       750  42.00  0.00  17.00  1.41  13.33  0.94
4      1000  42.00  0.00  17.50  0.87  12.00  0.82
..      ...    ...   ...    ...   ...    ...   ...
475  118750  44.25  0.83  20.00  0.00  18.00  0.00
476  119000  44.25  0.43  20.00  0.00  17.75  0.43
477  119250  44.25  0.43  19.00  1.00  17.75  0.43
478  119500  44.75  0.43  17.00  0.71  15.00  1.00
479  119750  48.00  2.12  22.25  1.92  10.75  2.28

[480 rows x 7 columns]
['sitting', 'dataset2']           0      1     2      3     4      5     6
0         0  50.25  0.43  24.00  0.00   6.75  1.92
1       250  50.75  0.43  23.67  0.47   9.33  0.94
2       500  48.00  0.71  22.50  0.87   8.75  1.09
3       750  47.33  0.47  20.50  0.50  10.67  0.94
4      1000  47.50  0.50  21.00  0.00   8.50  0.50
..      ...    ...   ...    ...   ...    ...   ...
475  118750  45.00  0.00  10.50  1.50  18.25  0.43
476  119000  45.00  0.00  12.00  0.00  18.25  0.43
477  119250  45.00  0.00   7.50  4.50  19.00  1.00
478  119500  45.00  0.00  12.75  1.48  19.40  0.80
479  119750  45.00  0.00  16.00  1.58  19.25  0.83

[480 rows x 7 columns]
['sitting', 'dataset3']           0     1    2      3     4      5     6
0         0  45.0  0.0  13.25  0.83  18.00  0.00
1       250  45.0  0.0  10.67  0.47  18.00  0.00
2       500  45.0  0.0  10.00  0.82  17.75  0.43
3       750  45.0  0.0  10.33  1.70  17.50  0.50
4      1000  45.0  0.0   4.33  1.70  12.50  1.50
..      ...   ...  ...    ...   ...    ...   ...
475  118750  45.0  0.0   9.00  0.82  21.00  0.00
476  119000  45.0  0.0   6.67  0.94  21.00  0.00
477  119250  45.0  0.0   6.67  2.05  21.00  0.00
478  119500  45.0  0.0   5.50  1.50  21.00  0.00
479  119750  45.0  0.0   4.75  2.49  21.00  0.00

[480 rows x 7 columns]
['sitting', 'dataset10']           0      1     2      3     4      5     6
0         0  42.00  0.00  21.00  0.00  15.00  1.00
1       250  42.00  0.00  21.00  0.00  18.00  0.00
2       500  42.00  0.00  20.75  0.43  17.75  0.43
3       750  42.00  0.00  20.25  0.43  18.25  1.09
4      1000  42.00  0.00  20.00  0.00  18.00  0.00
..      ...    ...   ...    ...   ...    ...   ...
475  118750  39.00  0.00  12.25  2.68  20.50  1.50
476  119000  38.50  0.87  12.00  0.00   9.75  3.96
477  119250  38.00  1.00  13.33  2.05   9.67  6.18
478  119500  38.25  0.83   8.75  0.83  11.33  2.87
479  119750  37.75  1.30   9.25  2.05  13.00  1.00

[480 rows x 7 columns]
['sitting', 'dataset11']           0      1     2      3     4      5     6
0         0  37.25  0.83  10.33  2.87  17.00  1.22
1       250  37.67  1.25  15.50  0.87  15.00  2.45
2       500  37.25  1.30  15.25  0.83  14.25  1.30
3       750  37.33  1.25  12.67  0.47  10.50  2.87
4      1000  38.00  0.71  16.00  1.87  14.00  3.24
..      ...    ...   ...    ...   ...    ...   ...
475  118750  42.33  0.47  13.00  0.00  13.00  1.00
476  119000  43.00  0.82  18.00  0.00  13.75  1.30
477  119250  42.50  0.50  18.00  0.00  13.00  0.00
478  119500  42.25  0.43  12.50  1.80  14.75  1.79
479  119750  42.50  0.50   6.67  0.94  11.50  1.12

[480 rows x 7 columns]
['sitting', 'dataset13']           0      1     2      3     4      5     6
0         0  41.50  0.50  14.00  0.00  14.50  0.87
1       250  41.75  0.43  14.75  0.43  13.00  0.71
2       500  41.50  0.50  16.50  0.50  12.50  0.50
3       750  41.50  0.50  16.75  0.43  14.25  1.48
4      1000  41.50  0.50  16.25  0.83  15.50  0.87
..      ...    ...   ...    ...   ...    ...   ...
475  118750  44.60  0.49  13.75  1.30  22.60  1.02
476  119000  44.50  0.50  16.50  1.50  22.00  1.22
477  119250  44.00  0.82  22.75  1.09  20.33  0.94
478  119500  43.25  0.83  21.75  0.83  20.00  1.22
479  119750  42.20  0.40  18.00  1.41  16.80  1.17

[480 rows x 7 columns]
['sitting', 'dataset12']           0      1     2      3     4      5     6
0         0  42.50  0.50   8.33  3.30  16.50  2.60
1       250  42.75  0.83  13.50  1.12  17.25  0.83
2       500  42.25  0.43  12.00  0.00  19.00  0.82
3       750  42.50  0.50   4.50  2.50  18.00  0.00
4      1000  42.25  0.43   6.67  4.11  18.75  0.83
..      ...    ...   ...    ...   ...    ...   ...
475  118750  41.75  0.43  14.75  2.38  14.25  0.83
476  119000  42.00  0.00  11.00  0.82  12.25  0.83
477  119250  41.75  0.43  10.25  0.83   9.50  0.50
478  119500  41.75  0.43   9.00  1.41  13.25  2.17
479  119750  41.50  0.50  13.25  0.83  14.25  0.83

[480 rows x 7 columns]
['sitting', 'dataset15']           0      1     2      3     4      5     6
0         0  41.50  0.50   2.67  2.36   8.75  0.83
1       250  41.50  0.50   1.00  0.00   7.50  0.87
2       500  41.50  0.50   0.00  0.00   7.75  0.43
3       750  41.50  0.50   1.50  0.50   8.00  0.00
4      1000  41.50  0.50   2.00  0.00   7.33  0.47
..      ...    ...   ...    ...   ...    ...   ...
475  118750  41.00  0.82  17.25  1.30  11.00  0.82
476  119000  41.50  0.50  18.00  0.00  10.67  1.25
477  119250  41.33  0.47  18.67  0.47  11.00  1.41
478  119500  41.50  0.50  18.50  0.50  12.33  0.47
479  119750  41.50  0.50  17.00  1.00  13.50  1.12

[480 rows x 7 columns]
['sitting', 'dataset14']           0      1     2      3     4      5     6
0         0  42.00  0.00  11.50  4.56  18.50  0.87
1       250  41.75  0.43  21.50  1.80  11.75  1.48
2       500  41.67  0.47   9.33  5.44  12.00  2.83
3       750  40.00  0.82  12.67  0.94  17.75  1.09
4      1000  40.25  0.83  12.25  0.43  18.25  0.43
..      ...    ...   ...    ...   ...    ...   ...
475  118750  43.67  0.47  21.00  0.71  19.33  1.25
476  119000  43.67  0.47  18.75  0.83  20.33  0.94
477  119250  43.25  0.83  18.75  0.83  13.50  2.69
478  119500  42.25  0.43  19.50  0.50   7.25  2.86
479  119750  41.67  0.47  15.00  2.45  11.25  0.83

[480 rows x 7 columns]
['sitting', 'dataset8']           0      1     2      3     4      5     6
0         0  44.00  0.71  18.75  0.43   7.75  1.30
1       250  44.00  0.00  18.50  0.50   8.67  0.47
2       500  43.75  0.83  18.00  0.00   9.67  0.94
3       750  43.75  0.43  18.25  0.43   9.00  0.00
4      1000  43.75  0.43  18.00  0.00   9.00  0.00
..      ...    ...   ...    ...   ...    ...   ...
474  118750  42.25  0.43  18.00  0.00  16.50  1.12
475  119000  42.00  0.00  18.00  0.00  16.00  0.82
476  119250  42.50  0.50  18.00  0.00  15.25  0.43
477  119500  42.50  0.50  18.25  0.43  16.00  1.22
478  119750  42.25  0.43  20.00  0.71  19.00  1.00

[479 rows x 7 columns]
['sitting', 'dataset9']           0      1     2      3     4      5     6
0         0  42.00  0.00  18.75  0.83  20.25  0.83
1       250  42.25  0.43  18.25  0.43  20.75  0.83
2       500  42.50  0.50  19.50  0.87  18.75  0.43
3       750  42.25  0.43  19.00  0.00  20.75  1.09
4      1000  42.00  0.00  20.33  0.47  21.00  0.00
..      ...    ...   ...    ...   ...    ...   ...
475  118750  42.00  0.00  20.50  0.87  18.50  0.50
476  119000  42.00  0.00  21.25  0.43  17.50  0.50
477  119250  42.00  0.00  21.00  0.00  16.00  0.82
478  119500  42.00  0.00  21.00  0.00  18.25  0.43
479  119750  42.00  0.00  21.00  0.00  16.67  0.47

[480 rows x 7 columns]
['lying', 'dataset7']           0      1     2     3     4      5     6
0         0  39.50  0.50  4.33  1.25  12.00  0.00
1       250  39.50  0.50  7.00  0.00  12.33  0.47
2       500  39.50  0.50  6.33  2.49  11.75  0.43
3       750  39.67  0.47  8.75  1.30  12.67  0.47
4      1000  39.50  0.50  5.00  0.71  11.75  0.43
..      ...    ...   ...   ...   ...    ...   ...
475  118750  39.50  0.50  3.00  0.00  18.00  0.00
476  119000  39.67  0.47  3.00  0.00  17.67  0.47
477  119250  39.00  0.00  2.00  0.00  18.00  0.00
478  119500  39.00  0.00  2.00  0.00  18.00  0.00
479  119750  39.00  0.00  2.00  0.00  18.00  0.00

[480 rows x 7 columns]
['lying', 'dataset6']           0      1     2     3     4      5     6
0         0  39.67  0.47  8.75  0.43  14.67  0.47
1       250  39.67  0.47  8.75  0.43  14.67  0.47
2       500  39.33  0.47  8.00  0.82  14.25  0.43
3       750  39.67  0.47  7.50  0.50  13.67  1.25
4      1000  39.33  0.47  9.00  0.00  13.50  0.50
..      ...    ...   ...   ...   ...    ...   ...
475  118750  39.50  0.50  6.75  2.49  12.75  0.83
476  119000  39.25  0.43  9.75  0.43  12.50  0.50
477  119250  39.50  0.50  9.75  0.43  12.75  0.83
478  119500  39.67  0.47  9.50  0.50  13.33  0.94
479  119750  39.50  0.50  9.00  0.00  12.67  0.47

[480 rows x 7 columns]
['lying', 'dataset4']           0      1     2      3     4      5     6
0         0  48.00  0.00   9.00  0.00   9.25  0.43
1       250  48.00  0.00   9.00  0.00   9.50  0.50
2       500  48.00  0.00  10.00  0.71  10.00  0.71
3       750  48.00  0.00   9.50  0.50   9.50  0.50
4      1000  48.00  0.00  10.00  0.00  10.00  1.00
..      ...    ...   ...    ...   ...    ...   ...
475  118750  39.33  0.47  12.00  0.00   0.00  0.00
476  119000  40.25  0.43  12.00  0.00   1.00  0.00
477  119250  39.75  0.83  12.00  0.00   0.00  0.00
478  119500  40.25  0.83  12.00  0.00   0.00  0.00
479  119750  39.75  0.83  12.25  0.43   1.00  0.00

[480 rows x 7 columns]
['lying', 'dataset5']           0      1     2      3     4      5     6
0         0  39.50  0.50  12.00  0.00   0.00  0.00
1       250  39.75  0.83  13.00  0.00   0.00  0.00
2       500  40.00  1.00  12.67  0.47   0.00  0.00
3       750  40.00  0.71  12.50  0.50   1.00  0.00
4      1000  40.00  0.82  12.50  0.87   1.50  0.50
..      ...    ...   ...    ...   ...    ...   ...
475  118750  39.50  0.50   8.25  0.83  13.25  0.83
476  119000  39.67  0.47   6.00  0.00  13.50  0.50
477  119250  39.50  0.50   7.60  0.49  13.50  1.12
478  119500  39.50  0.50   8.33  0.47  14.33  0.47
479  119750  39.50  0.50   8.50  0.50  14.50  0.50

[480 rows x 7 columns]
['lying', 'dataset1']           0      1     2     3     4      5     6
0         0  29.00  0.00  9.00  0.71   8.50  0.50
1       250  29.00  0.00  8.00  0.71   8.50  0.50
2       500  29.00  0.00  8.00  0.71   8.00  1.00
3       750  28.50  0.50  8.25  0.43   8.75  0.43
4      1000  29.00  0.00  8.75  1.09   9.00  0.00
..      ...    ...   ...   ...   ...    ...   ...
475  118750  29.25  0.43  4.00  0.00  10.50  0.50
476  119000  29.25  0.43  4.00  0.00  10.25  0.83
477  119250  29.50  0.50  2.33  0.94   9.67  0.94
478  119500  29.00  0.00  2.67  0.47  10.00  0.82
479  119750  29.00  0.00  2.75  0.43  11.00  0.82

[480 rows x 7 columns]
['lying', 'dataset2']           0      1     2     3     4      5     6
0         0  29.00  0.00  2.75  0.43  10.20  0.75
1       250  29.33  0.47  2.50  0.50  10.33  0.94
2       500  29.00  0.00  1.50  0.50  10.25  0.43
3       750  29.25  0.43  1.50  0.50  10.25  0.83
4      1000  29.00  0.00  1.00  0.00  10.50  1.12
..      ...    ...   ...   ...   ...    ...   ...
475  118750  48.00  0.00  5.00  0.00   1.75  0.43
476  119000  48.00  0.00  5.25  0.43   2.33  0.47
477  119250  48.00  0.00  6.00  0.00   2.00  0.82
478  119500  48.00  0.00  6.00  0.00   2.33  0.47
479  119750  48.00  0.00  6.00  0.00   2.00  0.00

[480 rows x 7 columns]
['lying', 'dataset3']           0     1    2     3     4      5     6
0         0  48.0  0.0  6.25  0.43   2.00  0.71
1       250  48.0  0.0  6.00  0.00   1.67  0.94
2       500  48.0  0.0  6.00  0.00   2.00  1.00
3       750  48.0  0.0  5.25  0.43   2.67  0.94
4      1000  48.0  0.0  5.50  0.50   2.00  0.82
..      ...   ...  ...   ...   ...    ...   ...
475  118750  48.0  0.0  7.75  0.43  11.25  0.83
476  119000  48.0  0.0  8.33  0.47   9.67  0.47
477  119250  48.0  0.0  8.75  0.43   9.50  0.50
478  119500  48.0  0.0  9.00  0.00   9.75  0.83
479  119750  48.0  0.0  9.00  0.00   9.33  0.47

[480 rows x 7 columns]
['lying', 'dataset10']           0      1     2     3     4      5     6
0         0  29.00  0.00  9.00  0.71   8.50  0.50
1       250  29.00  0.00  8.00  0.71   8.50  0.50
2       500  29.00  0.00  8.00  0.71   8.00  1.00
3       750  28.50  0.50  8.25  0.43   8.75  0.43
4      1000  29.00  0.00  8.75  1.09   9.00  0.00
..      ...    ...   ...   ...   ...    ...   ...
475  118750  29.25  0.43  4.00  0.00  10.50  0.50
476  119000  29.25  0.43  4.00  0.00  10.25  0.83
477  119250  29.50  0.50  2.33  0.94   9.67  0.94
478  119500  29.00  0.00  2.67  0.47  10.00  0.82
479  119750  29.00  0.00  2.75  0.43  11.00  0.82

[480 rows x 7 columns]
['lying', 'dataset11']           0     1    2     3     4      5     6
0         0  48.0  0.0  6.25  0.43   2.00  0.71
1       250  48.0  0.0  6.00  0.00   1.67  0.94
2       500  48.0  0.0  6.00  0.00   2.00  1.00
3       750  48.0  0.0  5.25  0.43   2.67  0.94
4      1000  48.0  0.0  5.50  0.50   2.00  0.82
..      ...   ...  ...   ...   ...    ...   ...
475  118750  48.0  0.0  7.75  0.43  11.25  0.83
476  119000  48.0  0.0  8.33  0.47   9.67  0.47
477  119250  48.0  0.0  8.75  0.43   9.50  0.50
478  119500  48.0  0.0  9.00  0.00   9.75  0.83
479  119750  48.0  0.0  9.00  0.00   9.33  0.47

[480 rows x 7 columns]

['lying', 'dataset13']           0      1     2     3     4      5     6
0         0  39.50  0.50  4.33  1.25  12.00  0.00
1       250  39.50  0.50  7.00  0.00  12.33  0.47
2       500  39.50  0.50  6.33  2.49  11.75  0.43
3       750  39.67  0.47  8.75  1.30  12.67  0.47
4      1000  39.50  0.50  5.00  0.71  11.75  0.43
..      ...    ...   ...   ...   ...    ...   ...
475  118750  39.50  0.50  3.00  0.00  18.00  0.00
476  119000  39.67  0.47  3.00  0.00  17.67  0.47
477  119250  39.00  0.00  2.00  0.00  18.00  0.00
478  119500  39.00  0.00  2.00  0.00  18.00  0.00
479  119750  39.00  0.00  2.00  0.00  18.00  0.00

[480 rows x 7 columns]
['lying', 'dataset12']           0      1     2      3     4      5     6
0         0  39.50  0.50  12.00  0.00   0.00  0.00
1       250  39.75  0.83  13.00  0.00   0.00  0.00
2       500  40.00  1.00  12.67  0.47   0.00  0.00
3       750  40.00  0.71  12.50  0.50   1.00  0.00
4      1000  40.00  0.82  12.50  0.87   1.50  0.50
..      ...    ...   ...    ...   ...    ...   ...
475  118750  39.50  0.50   8.25  0.83  13.25  0.83
476  119000  39.67  0.47   6.00  0.00  13.50  0.50
477  119250  39.50  0.50   7.60  0.49  13.50  1.12
478  119500  39.50  0.50   8.33  0.47  14.33  0.47
479  119750  39.50  0.50   8.50  0.50  14.50  0.50

[480 rows x 7 columns]
['lying', 'dataset15']           0      1     2     3     4      5     6
0         0  29.00  0.00  9.00  0.71   8.50  0.50
1       250  29.00  0.00  8.00  0.71   8.50  0.50
2       500  29.00  0.00  8.00  0.71   8.00  1.00
3       750  28.50  0.50  8.25  0.43   8.75  0.43
4      1000  29.00  0.00  8.75  1.09   9.00  0.00
..      ...    ...   ...   ...   ...    ...   ...
475  118750  29.25  0.43  4.00  0.00  10.50  0.50
476  119000  29.25  0.43  4.00  0.00  10.25  0.83
477  119250  29.50  0.50  2.33  0.94   9.67  0.94
478  119500  29.00  0.00  2.67  0.47  10.00  0.82
479  119750  29.00  0.00  2.75  0.43  11.00  0.82

[480 rows x 7 columns]
['lying', 'dataset14']           0      1     2      3     4      5     6
0         0  39.67  0.47   6.00  0.82  16.00  1.00
1       250  39.50  0.50   4.50  1.12  17.75  0.43
2       500  39.67  0.47   4.50  1.12  18.33  0.47
3       750  39.50  0.50   4.50  2.06  17.50  0.50
4      1000  39.33  0.47   5.33  0.47  17.00  0.71
..      ...    ...   ...    ...   ...    ...   ...
475  118750  41.50  0.50  10.67  0.47  14.00  0.82
476  119000  41.50  0.50  10.80  0.40  14.40  0.80
477  119250  41.75  0.43  10.00  0.00  13.67  0.94
478  119500  42.00  0.00   9.40  0.49  14.00  1.10
479  119750  41.75  0.43   9.00  0.00  14.33  0.47

[480 rows x 7 columns]
['lying', 'dataset8']           0      1     2     3     4      5     6
0         0  39.58  0.49  1.92  0.73  17.67  0.47
1       250  39.25  0.43  2.00  0.71  17.75  0.43
2       500  39.25  0.43  1.67  0.94  17.67  0.47
3       750  39.50  0.50  2.67  0.47  17.75  0.43
4      1000  39.50  0.50  1.00  0.00  17.75  0.43
..      ...    ...   ...   ...   ...    ...   ...
475  118750  39.25  0.43  6.00  2.74  16.25  2.05
476  119000  39.00  0.00  4.00  2.55  13.75  1.30
477  119250  39.50  0.50  7.50  0.50  13.00  1.22
478  119500  39.50  0.50  6.75  0.83  15.00  1.41
479  119750  39.50  0.50  6.50  0.50  16.50  1.12

[480 rows x 7 columns]
['lying', 'dataset9']           0      1     2      3     4      5     6
0         0  39.67  0.47   6.00  0.82  16.00  1.00
1       250  39.50  0.50   4.50  1.12  17.75  0.43
2       500  39.67  0.47   4.50  1.12  18.33  0.47
3       750  39.50  0.50   4.50  2.06  17.50  0.50
4      1000  39.33  0.47   5.33  0.47  17.00  0.71
..      ...    ...   ...    ...   ...    ...   ...
475  118750  41.50  0.50  10.67  0.47  14.00  0.82
476  119000  41.50  0.50  10.80  0.40  14.40  0.80
477  119250  41.75  0.43  10.00  0.00  13.67  0.94
478  119500  42.00  0.00   9.40  0.49  14.00  1.10
479  119750  41.75  0.43   9.00  0.00  14.33  0.47

[480 rows x 7 columns]
['cycling', 'dataset7']           0      1     2      3     4      5     6
0         0  32.50  3.50   9.75  2.28  18.50  1.66
1       250  39.00  0.82  11.33  4.92  16.50  0.50
2       500  42.50  0.50  17.75  2.68  19.67  3.09
3       750  35.75  6.26  12.67  1.70  13.75  8.23
4      1000  34.50  1.50  14.50  1.66  10.75  6.91
..      ...    ...   ...    ...   ...    ...   ...
475  118750  40.25  2.49  13.75  2.68  19.25  1.79
476  119000  37.00  1.22  20.50  1.50  15.25  7.73
477  119250  34.75  2.17  22.50  1.50  16.50  5.02
478  119500  34.75  5.80  21.00  2.12  16.33  4.64
479  119750  35.50  1.50  15.00  2.45  20.00  2.74

[480 rows x 7 columns]
['cycling', 'dataset6']           0      1     2      3      4      5     6
0         0  37.00  1.00  20.00   6.16  21.25  2.17
1       250  34.33  2.36  20.25  10.57  11.67  1.25
2       500  31.00  3.56  18.67   2.49  18.50  2.60
3       750  36.75  2.86  13.75   2.86  19.50  1.50
4      1000  42.00  0.71  13.25   2.05  19.00  1.87
..      ...    ...   ...    ...    ...    ...   ...
475  118750  41.25  1.92  11.67   6.94  16.67  2.62
476  119000  43.25  0.83  10.67   4.50  18.50  1.80
477  119250  35.25  4.44  12.60   1.36  11.80  7.68
478  119500  35.25  1.30  16.00   0.82  16.33  3.09
479  119750  35.50  4.61  16.25   2.05  15.67  1.70

[480 rows x 7 columns]
['cycling', 'dataset4']           0      1     2      3     4      5     6
0         0  40.50  2.60  17.25  3.90  15.50  3.28
1       250  35.50  1.50  19.75  1.30  18.50  3.77
2       500  35.25  1.30  13.67  6.13  18.50  0.50
3       750  35.25  3.90  14.75  3.27  21.25  1.79
4      1000  32.25  2.49  10.67  6.60  15.50  4.39
..      ...    ...   ...    ...   ...    ...   ...
475  118750  36.00  3.67  19.75  2.05  21.50  2.18
476  119000  31.75  1.09  20.67  1.89  14.00  3.74
477  119250  37.67  5.44  18.50  1.50  13.00  4.55
478  119500  34.67  5.44  17.00  1.00  15.25  4.44
479  119750  40.50  1.12  17.75  2.38  17.50  1.50

[480 rows x 7 columns]
['cycling', 'dataset5']           0      1     2      3     4      5     6
0         0  39.33  2.36  15.00  4.24  13.50  3.20
1       250  33.00  2.45  20.25  1.92  18.67  0.47
2       500  31.50  5.59  19.00  4.97  19.50  0.50
3       750  34.50  4.72  14.00  5.89  16.00  4.58
4      1000  39.00  1.58  14.67  3.68  19.50  1.50
..      ...    ...   ...    ...   ...    ...   ...
475  118750  36.00  4.24  15.50  8.20  17.00  3.67
476  119000  34.00  2.12  22.50  4.50  16.00  1.87
477  119250  33.25  6.57  20.00  3.74  22.67  0.94
478  119500  39.50  1.50  17.75  1.79  16.25  1.79
479  119750  41.75  0.43  12.67  2.36  17.33  2.05

[480 rows x 7 columns]
['cycling', 'dataset1']           0      1     2      3     4      5     6
0         0  32.00  4.85  17.50  3.35  22.50  3.20
1       250  40.50  1.12  14.00  2.24  21.75  1.30
2       500  40.50  2.60  11.33  4.50  18.25  5.31
3       750  34.50  1.50  20.67  2.87  19.00  2.83
4      1000  34.50  1.50  21.25  3.27  18.25  4.38
..      ...    ...   ...    ...   ...    ...   ...
475  118750  38.00  2.55  18.25  2.17  20.00  4.74
476  119000  36.00  0.00  19.00  1.41  13.67  1.25
477  119250  37.00  1.73  17.75  0.43  22.50  0.87
478  119500  37.00  3.74  19.00  4.18  22.00  1.41
479  119750  38.75  1.92  16.75  3.49  21.00  3.67

[480 rows x 7 columns]
['cycling', 'dataset2']           0      1     2      3     4      5     6
0         0  41.75  1.79   8.75  6.87  23.25  0.83
1       250  39.50  3.57  15.00  0.00  19.25  3.27
2       500  35.00  1.41  19.33  1.25  19.50  3.20
3       750  36.00  0.00  18.50  0.50  21.25  4.76
4      1000  33.33  2.87  20.25  1.79  23.75  0.43
..      ...    ...   ...    ...   ...    ...   ...
475  118750  42.33  0.47   6.67  3.77  20.33  0.47
476  119000  43.00  1.41  11.67  2.49  14.00  5.10
477  119250  36.75  1.09  16.75  3.03  21.50  2.60
478  119500  36.33  0.47  20.33  2.05  20.50  2.18
479  119750  35.25  1.30  16.50  1.12  22.75  2.17

[480 rows x 7 columns]
['cycling', 'dataset3']           0      1      2      3     4      5     6
0         0  35.50   3.84  19.75  2.77  20.25  3.27
1       250  33.50  12.99  16.50  4.72  22.50  1.50
2       500  42.00   0.00   9.00  3.67  20.25  1.30
3       750  41.50   1.50  12.33  0.47  18.00  2.45
4      1000  35.25   2.49  19.50  3.35  24.25  0.43
..      ...    ...    ...    ...   ...    ...   ...
475  118750  36.50   1.50  15.67  9.74  20.50  2.87
476  119000  36.00   0.00  23.25  1.30  17.00  1.63
477  119250  32.33   5.56  15.33  3.77  14.50  4.82
478  119500  32.00   5.87  12.25  2.17  14.50  2.87
479  119750  38.00   2.12  16.50  3.20  11.25  5.80

[480 rows x 7 columns]
['cycling', 'dataset10']           0      1     2      3     4      5     6
0         0  41.25  1.30   8.50  1.12  20.75  0.83
1       250  44.00  1.41  12.67  2.36  17.25  2.86
2       500  35.25  4.32  14.00  4.55  17.25  3.70
3       750  33.00  2.12  17.00  1.41  15.00  4.55
4      1000  35.25  5.89  16.25  3.03  14.75  5.63
..      ...    ...   ...    ...   ...    ...   ...
475  118750  42.25  1.09  12.50  3.28  12.00  5.20
476  119000  34.50  4.97  18.25  6.57  22.50  2.60
477  119250  31.75  1.30  23.50  1.50  16.25  2.95
478  119500  31.00  3.24  15.50  4.92  14.75  3.70
479  119750  38.75  1.64  16.33  5.91  12.33  1.25

[480 rows x 7 columns]
['cycling', 'dataset11']           0      1     2      3     4      5     6
0         0  42.00  0.00  14.50  3.50  18.75  2.49
1       250  40.67  1.25  13.25  3.70  15.33  4.03
2       500  36.00  2.45  24.00  0.82  22.00  2.74
3       750  34.50  1.50  20.75  5.07  13.50  3.35
4      1000  32.50  4.61  21.00  2.45  15.67  4.11
..      ...    ...   ...    ...   ...    ...   ...
475  118750  32.50  2.29  21.50  2.29  18.67  1.70
476  119000  31.75  6.50  19.75  4.26  13.00  7.07
477  119250  40.00  1.22  20.00  3.67  21.50  6.18
478  119500  43.50  1.12  16.25  2.49  18.33  4.50
479  119750  38.75  3.49  16.00  7.48  21.50  2.87

[480 rows x 7 columns]
['cycling', 'dataset13']           0      1     2      3     4      5     6
0         0  34.50  4.39  19.50  3.20  18.00  3.54
1       250  36.00  3.08  15.00  5.20  12.00  3.56
2       500  42.75  0.83  10.00  4.55   9.25  2.38
3       750  40.00  2.83  17.67  1.89  14.25  1.92
4      1000  34.25  3.03  14.25  5.36  20.00  1.22
..      ...    ...   ...    ...   ...    ...   ...
475  118750  36.75  2.86  20.75  4.55  15.25  3.77
476  119000  38.75  1.09  18.25  4.92  20.25  2.59
477  119250  42.50  0.87  12.50  4.15  15.75  5.76
478  119500  36.25  3.90  19.00  3.74  23.67  2.49
479  119750  29.75  4.60  22.25  4.26  20.50  2.87

[480 rows x 7 columns]
['cycling', 'dataset12']           0      1     2      3     4      5     6
0         0  33.50  2.87  27.00  1.87  14.75  9.39
1       250  30.50  4.50  20.67  4.03  17.00  0.82
2       500  34.25  3.03  15.75  4.92  17.25  2.49
3       750  42.00  2.55  16.00  2.74  19.75  1.09
4      1000  42.00  2.83  19.50  2.06  13.75  5.17
..      ...    ...   ...    ...   ...    ...   ...
475  118750  34.75  2.17  17.75  1.92  19.00  3.67
476  119000  39.00  3.00  14.00  3.27  15.00  2.45
477  119250  40.25  4.26  16.33  3.68  14.33  3.86
478  119500  32.00  5.74  17.75  4.44  18.75  5.31
479  119750  34.00  9.27  22.50  1.50  17.67  2.49

[480 rows x 7 columns]
['cycling', 'dataset15']           0      1     2      3     4      5     6
0         0  32.00  4.85  17.50  3.35  22.50  3.20
1       250  40.50  1.12  14.00  2.24  21.75  1.30
2       500  40.50  2.60  11.33  4.50  18.25  5.31
3       750  34.50  1.50  20.67  2.87  19.00  2.83
4      1000  34.50  1.50  21.25  3.27  18.25  4.38
..      ...    ...   ...    ...   ...    ...   ...
475  118750  38.00  2.55  18.25  2.17  20.00  4.74
476  119000  36.00  0.00  19.00  1.41  13.67  1.25
477  119250  37.00  1.73  17.75  0.43  22.50  0.87
478  119500  37.00  3.74  19.00  4.18  22.00  1.41
479  119750  38.75  1.92  16.75  3.49  21.00  3.67

[480 rows x 7 columns]

ParserError: Error tokenizing data. C error: Expected 7 fields in line 485, saw 8