In [1]:
import os
import pandas as pd

In [2]:
df_headers = ['activity', 'dataset']
for i in range(1, 7):
    df_headers.append('min-' + str(i))
    df_headers.append('max-' + str(i))
    df_headers.append('mean-' + str(i))
    df_headers.append('median-' + str(i))
    df_headers.append('std-' + str(i))
    df_headers.append('1quart-' + str(i))
    df_headers.append('3quart-' + str(i))

# print(df_headers)

In [3]:
df = pd.DataFrame(columns=df_headers)

for root, dirs, files in os.walk('../data/ARem'):
    for filename in files:
        if 'csv' in filename:
            df_row = []
            activity = root.replace('../data/ARem/', '') # activity
            dataset = filename.replace('.csv', '') # dataset
            df_row.extend((activity, dataset))
            # print(df_row)
            
            seperator = ','
            if (activity == 'bending2') and (dataset == 'dataset4'): seperator = ' '
                
            path = os.path.join(root, filename)
            df_instance = pd.read_csv(path, skiprows=5, header=None, sep=seperator)
            for i in range(1, 7):
                df_row.append(df_instance.min()[i])
                df_row.append(df_instance.max()[i])
                df_row.append(df_instance.mean()[i])
                df_row.append(df_instance.median()[i])
                df_row.append(df_instance.std()[i])
                df_row.append(df_instance.quantile(0.25)[i])
                df_row.append(df_instance.quantile(0.75)[i])
            df.loc[len(df.index)] = df_row

In [4]:
df.head()

,activity,dataset,min-1,max-1,mean-1,median-1,std-1,1quart-1,3quart-1,min-2,...,std-5,1quart-5,3quart-5,min-6,max-6,mean-6,median-6,std-6,1quart-6,3quart-6
0,bending1,dataset7,36.25,48.00,43.969125,44.50,1.618364,43.31,44.67,0.0,...,3.318301,20.5000,23.75,0.0,2.96,0.555313,0.49,0.487826,0.00,0.83
1,bending1,dataset6,37.00,48.00,43.454958,43.25,1.386098,42.50,45.00,0.0,...,2.488862,22.2500,24.00,0.0,5.26,0.679646,0.50,0.622534,0.43,0.87
2,bending1,dataset4,33.00,47.75,42.179813,43.50,3.670666,39.15,45.00,0.0,...,3.849448,30.4575,36.33,0.0,2.18,0.613521,0.50,0.524317,0.00,1.00
3,bending1,dataset5,33.00,45.75,41.678063,41.75,2.243490,41.33,42.75,0.0,...,2.411026,28.4575,31.25,0.0,1.79,0.383292,0.43,0.389164,0.00,0.50
4,bending1,dataset1,37.25,45.00,40.624792,40.50,1.476967,39.25,42.00,0.0,...,2.188449,33.0000,36.00,0.0,1.92,0.570583,0.43,0.582915,0.00,1.30

In [5]:
df.describe()

,min-1,max-1,mean-1,median-1,std-1,1quart-1,3quart-1,min-2,max-2,mean-2,...,std-5,1quart-5,3quart-5,min-6,max-6,mean-6,median-6,std-6,1quart-6,3quart-6
count,88.000000,88.000000,88.000000,88.000000,88.000000,88.00000,88.000000,88.0,88.000000,88.000000,...,88.000000,88.000000,88.00000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
mean,29.036705,45.473068,38.917357,38.856705,2.988893,37.01983,41.197216,0.0,6.290114,1.459119,...,3.537752,13.826761,18.52821,0.004886,6.461932,1.620686,1.445511,1.048533,0.902017,2.142614
std,9.569975,4.394362,5.335718,5.440054,1.772153,6.15359,5.138925,0.0,5.062729,1.574164,...,1.024898,6.096465,5.53172,0.045838,2.518921,1.154812,1.086474,0.517617,0.758584,1.523599
min,0.000000,30.000000,24.562958,24.250000,0.032038,23.18750,26.500000,0.0,0.430000,0.007167,...,1.745970,1.000000,5.54250,0.000000,1.790000,0.383292,0.430000,0.388372,0.000000,0.500000
25%,21.875000,44.585000,34.845755,35.447500,1.468289,31.62750,38.250000,0.0,1.767500,0.366630,...,2.942275,11.295000,16.64250,0.000000,4.500000,0.730656,0.500000,0.613688,0.430000,1.000000
50%,28.625000,45.750000,39.433792,39.415000,3.212700,39.20000,40.250000,0.0,4.500000,0.489365,...,3.265060,14.000000,18.28125,0.000000,6.310000,0.930188,0.830000,0.838716,0.470000,1.220000
75%,36.270000,47.750000,43.013250,43.250000,4.552490,42.00000,45.000000,0.0,10.930000,2.731505,...,4.074511,15.500000,20.75000,0.000000,8.765000,3.005229,2.615000,1.642064,1.670000,4.043125
max,48.000000,56.250000,48.004167,48.000000,7.684146,48.00000,54.000000,0.0,17.240000,4.576562,...,7.853427,35.362500,36.50000,0.430000,13.610000,3.530500,3.340000,1.963685,2.240000,4.617500

In [6]:
df_numeric = df.iloc[:, 2:] # remove activity and dataset columns
# df_numeric.std()

In [7]:
import numpy as np
from scipy.stats import bootstrap

for column in df_numeric:
    print(column)
    res = bootstrap((df_numeric[column].values, ), np.std, method='basic', confidence_level=0.9)
    print(res.confidence_interval)

min-1
ConfidenceInterval(low=8.317768575557887, high=10.822847770666801)
max-1
ConfidenceInterval(low=3.479931686780132, high=5.420398453544529)
mean-1
ConfidenceInterval(low=4.786024074462482, high=5.9373049793864565)
median-1
ConfidenceInterval(low=4.8438655829117465, high=6.05395247087808)
std-1
ConfidenceInterval(low=1.581903709607123, high=1.9611618031203863)
1quart-1
ConfidenceInterval(low=5.636527549130907, high=6.694948581671096)
3quart-1
ConfidenceInterval(low=4.414476241715462, high=5.90133059809724)
min-2
ConfidenceInterval(low=0.0, high=0.0)
max-2
ConfidenceInterval(low=4.694496262126191, high=5.466219017799247)
mean-2
ConfidenceInterval(low=1.4338053575989962, high=1.7422056568864344)
median-2
ConfidenceInterval(low=1.2723906842185615, high=1.5759775174668196)
std-2
ConfidenceInterval(low=0.8221248246736637, high=0.9598235218397991)
1quart-2
ConfidenceInterval(low=0.8527216874471388, high=1.055652350378505)
3quart-2
ConfidenceInterval(low=1.9441166856122902, high=2.3404868247478765)
min-3
ConfidenceInterval(low=2.7882097857113015, high=3.140384490428377)
max-3
ConfidenceInterval(low=4.2599718187074425, high=5.5358233142371605)
mean-3
ConfidenceInterval(low=3.4944234280946507, high=4.572716376109652)
median-3
ConfidenceInterval(low=3.5154672851709723, high=4.613385530827855)
std-3
ConfidenceInterval(low=0.7678802880946158, high=1.1242913015480975)
1quart-3
ConfidenceInterval(low=3.71618066919192, high=4.7802887267589504)
3quart-3
ConfidenceInterval(low=3.6364422366033438, high=4.771662534518791)
min-4
ConfidenceInterval(low=0.0, high=0.0)
max-4
ConfidenceInterval(low=1.9953169883882045, high=2.378086160450915)
mean-4
ConfidenceInterval(low=1.103132069935755, high=1.247940641212779)
median-4
ConfidenceInterval(low=1.0834367459160659, high=1.2298770036820486)
std-4
ConfidenceInterval(low=0.4279060095043756, high=0.4927638600968714)
1quart-4
ConfidenceInterval(low=0.7919543794231835, high=0.9066952526727226)
3quart-4
ConfidenceInterval(low=1.469311887606099, high=1.6625920312699762)
min-5
ConfidenceInterval(low=4.717570807558003, high=7.776473307883143)
max-5
ConfidenceInterval(low=4.8885674640945345, high=6.70213786686934)
mean-5
ConfidenceInterval(low=4.570671686827653, high=6.871234928361822)
median-5
ConfidenceInterval(low=4.690688290134471, high=7.078499490241556)
std-5
ConfidenceInterval(low=0.8234391743738774, high=1.233057312563691)
1quart-5
ConfidenceInterval(low=4.946544036856046, high=7.333233840528371)
3quart-5
ConfidenceInterval(low=4.501354069807276, high=6.661823406022705)
min-6
ConfidenceInterval(low=0.013124961748951322, high=0.09115393165518614)
max-6
ConfidenceInterval(low=2.25978754110946, high=2.772614700699106)
mean-6
ConfidenceInterval(low=1.0862791657632067, high=1.2397231441643433)
median-6
ConfidenceInterval(low=1.0196497597569925, high=1.1714469843307023)
std-6
ConfidenceInterval(low=0.48769654196615086, high=0.5528142381791408)
1quart-6
ConfidenceInterval(low=0.7055502661667679, high=0.8236534554721905)
3quart-6
ConfidenceInterval(low=1.4397149437865282, high=1.6372423558335871)