In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Qusetion (1) (a)

In [2]:
df = pd.read_csv('../data/diagnosis.data', sep='\t', header=None, decimal=',', encoding='utf-16')
df.head()

      0   1    2    3    4    5    6   7
0  35.5  no  yes   no   no   no   no  no
1  35.9  no   no  yes  yes  yes  yes  no
2  35.9  no  yes   no   no   no   no  no
3  36.0  no   no  yes  yes  yes  yes  no
4  36.0  no  yes   no   no   no   no  no

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       120 non-null    float64
 1   1       120 non-null    object
 2   2       120 non-null    object
 3   3       120 non-null    object
 4   4       120 non-null    object
 5   5       120 non-null    object
 6   6       120 non-null    object
 7   7       120 non-null    object
dtypes: float64(1), object(7)
memory usage: 7.6+ KB

# Question (